{% extends "web_app/base.html" %}
{% load bootstrap4 %}


{% block content %}
<section id="title">

  <div class="container-fluid">

    <!-- Title -->

    <div class="row mt-5 main-view">

      <div class="col-lg-6">
        <h1>The only SOC tool that you need.</h1>

      </div>

      <div class="col-lg-6 welcome-btn">
        {% if user.is_authenticated %}

        <a href="{% url 'web_app:search' %}" class="btn btn-dark">Search</a>

        {% if messages %}
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
        {% endif %}

        {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-dark">Log in</a>
        {% endif %}
      </div>

    </div>
    <!-- Our sources -->

    <div class="APIs">
      <section class="colored-section" id="sources">
        <img class="source-logo" src="https://www.abuseipdb.com/img/abuseipdb.png.pagespeed.ce.CI8T6WsXU7.png"
          alt="abuseipdb">
        <img class="source-logo" src="https://www.virustotal.com/gui/images/vt-enterprise.svg" alt="virustotal logo">
        <img class="source-logo" src="https://static.shodan.io/legal/images/image1.png" alt="shodan search logo">
        <!-- <img class="source-logo" src="https://www.phishtank.com/images/logo_with_tagline.gif" alt="phishtank logo">-->
        <img class="source-logo" src="https://www.badips.com/img/badips.com-lm.png" alt="badips logo">

      </section>
    </div>


  </div>

</section>

<section id="results">
  <div class="container-fluid">

    <div class="list-group sources-list  ">
      <a href="#" class="list-group-item list-group-item-action active btn-dark ">
        <strong>Leverage the combined power against cyber-threats</strong>
      </a>
      <a href="#" class="list-group-item list-group-item-action">AbuseIPDB</a>
      <a href="#" class="list-group-item list-group-item-action">VirusTotal</a>
      <a href="#" class="list-group-item list-group-item-action">Shodan Search Engine</a>
      <a href="#" class="list-group-item list-group-item-action">BadIPs</a>
      <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Soon
        Phishtank</a>
    </div>
  </div>





</section>

<section id="offer">
  <div class="container-fluid">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">You need auto look ups? We are here to do them for you. With us you will never miss the
        malicious attack.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>3 searches per day</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            {% if user.is_authenticated %}

            {% else %}
            <a type="button" class="btn btn-lg btn-block btn-outline-dark" href="{% url 'users:register' %}">Sign up for
              free</a>
            {% endif %}

          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$110 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>60 searches per day</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            {% if user.is_authenticated %}

            {% else %}
            <a type="button" class="btn btn-lg btn-block btn-dark" href="{% url 'users:register' %}">Sign up for
              free</a>
            {% endif %}
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$129 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>120 searches per day</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            {% if user.is_authenticated %}

            {% else %}
            <a type="button" class="btn btn-lg btn-block btn-dark" href="{% url 'users:register' %}">Sign up for
              free</a>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
</section>



{% endblock content %}