{% extends "web_app/base.html" %}

{% block content %}
<section id="results">
  <div class="container-fluid">
    <div class="alert alert-dark" role="alert">
      <h4 class="alert-heading">{{ searched_ip }}</h4>
      <p><a href="#shodan_results">Shodan Search Engine.</a></p>
      <hr>
      <p class="mb-0">From the history!</p>
    </div>

    <div class="card-deck">
      <div class="card api_display">
        <img class="card-img-top" src="https://www.abuseipdb.com/img/abuseipdb.png.pagespeed.ce.CI8T6WsXU7.png"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">AbuseIPDB</h5>
          <p class="card-text">

            {% for key, value in checked_ip_abuseipdb.items %}

            {% if key == 'abuseConfidenceScore' and value == 100 %}
            <li style="background-color: red;">{{ key }} : {{ value }} </li>
            {% else %}
            <li><strong>{{ key }}:</strong> {{ value }} </li>
            {% endif %}
            {% endfor %}
          <p class="card-text"><small class="text-muted">Last 90 days.</small></p>
        </div>
      </div>
      <div class="card api_display">
        <img class="card-img-top" src="https://www.virustotal.com/gui/images/vt-enterprise.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Virus total</h5>
          <p class="card-text">
            {% for key, value in checked_ip_votes_vt.items %}
            {% if key != 'last_analysis_results' and key != 'whois' and value|length == 0 %}
            <li><strong>{{ key }}:</strong> {{ value }} </li>
            {% else %}
            {% for x, y in value.items %}
            {% if key != 'last_analysis_results' and key != 'whois' %}
            <li><strong> {{ x }}:</strong> {{ y }} </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
          </p>
          <p class="card-text"><small class="text-muted">All the time.</small></p>
        </div>
      </div>
      <div class="card api_display">
        <img class="card-img-top" src="https://www.badips.com/img/badips.com-lm.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">badips</h5>
          <p class="card-text">
            {% for key, value in checked_ip_badips.items %}
            {% if value|length == 0 %}
            <li><strong>{{ key }}:</strong> {{ value }} </li>
            {% else %}
            {% for x, y in value.items %}
            <li><strong> {{ x }}:</strong> {{ y }} </li>
            {% endfor %}
            {% endif %}
            {% endfor %}
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="virustotal_and_shodan">
  <div class="container-fluid">
    <table class="table table-dark">
      {% for key, value in checked_ip_vt.items %}
      <thead class="thead-dark">
        <tr>
          <th scope="col">
            <h1>{{ key }}</h1>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for x, y in value.items %}
        <tr>
          {% if y == 'malicious' %}
          <td class="bg-danger">{{ x }} : {{ y }} </td>
          {% elif y == 'suspicious' %}
          <td class="bg-warning">{{ x }} : {{ y }} </td>
          {% else %}
          <td class="table-active">{{ x }} : {{ y }} </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      {% endfor %}
    </table>
  
  
  
  
   
    <div class="card bg-dark text-white">
      <div class="card-header">
        <h2> Shodan Search Engine</h2>
      </div>
      <div class="card-body" id="shodan_results">
        <blockquote class="blockquote mb-0">
          <p><strong>{{ checked_ip_shodan_general_info }}</strong></p>
          <p>{{ checked_ip_shodan_all_banners }}</p>
        </blockquote>
      </div>
    </div>
  
    </div>
  </div>
  
</section>
{% endblock content %}