body{
    
    size: 3rem;
    line-height: 1.5;
    color: black;
}

#base {
    background-color:gainsboro;
    background-size: auto;
   
}

#title {
    background-color:gainsboro;
    background-size: cover;
    
    
}

.container-fluid{
    padding: 3% 15%;
    
}


/* Navigation Bar */

.navbar-brand{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

.nav-link{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

.navbar-toggler{ 
    border-color: black; 
    color: black;
} 
/* Welcome view */

.welcome-btn{
    position: relative;
    padding-left: 30px;
    float: right;
}
.welcome-btn:hover{
    transform: scale(1.1);
}
/* Search view */

.col-lg-6{
    padding-top: 5%;
    font-family: 'Lexend Peta', sans-serif;
    color: black;
}

.check_ip_btn{
    margin-top: 0.3cm;
    float: right;
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
}

/* Sources */

.APIs{
    padding-top: 10%;

}

#press {
    background-color:gainsboro;
    padding-bottom: 3%;
  }

.source-logo{
    width: 20%;
    margin: 20px 20px 50px;
  }

/* The presentaion of results */

#results{
    background-color: black;
    background-size: cover;
    color: honeydew;
    padding: 3% 7%;
    
}
.table-responsive{
    color: honeydew;
}

.note{
    font-family: 'Bebas Neue';
}

.card{
    color: black;
    margin-left: 50%;
    font-family: 'Montserrat', sans-serif;
    width: auto;
}

/* Pricing and commercial */


#offer{
    background-color:gainsboro;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}


.white-section{
    text-align: center;
    background-color: black;
    color: honeydew;
    font-family: 'Bebas Neue';
    margin-bottom: auto;

}


